.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    animation: overlayShow 300ms ease-out;
  }
  
  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .content {
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 85vh;
    width: 90vw;
    max-width: 450px;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background-color: white;
    padding: 25px;
    box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35), 0 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation: contentShow 300ms ease-out;
  }
  
  @keyframes contentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -45%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  
  .title {
    margin: 0;
    font-size: 17px;
    font-weight: medium;
    color: #6b7280; /* mauve12 */
  }
  
  .description {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: normal;
    color: #9ca3af; /* mauve11 */
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-flex;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #7c3aed; /* violet11 */
    background-color: transparent;
    outline: none;
    transition: background-color 0.2s;
  }
  
  .closeButton:hover {
    background-color: #ede9fe; /* violet4 */
  }
  
  .closeButton:focus {
    box-shadow: 0 0 0 2px #7c3aed; /* violet7 */
  }
  